/* line 1, ../../xampp/htdocs/cmsOpgave/CMS-Opgave-Uge22-23/css/style.scss */
html {
  /*background: url(../img/softsoftWebTile%20.jpg);*/ }

/* line 5, ../../xampp/htdocs/cmsOpgave/CMS-Opgave-Uge22-23/css/style.scss */
.container {
  background-color: white; }

/* line 9, ../../xampp/htdocs/cmsOpgave/CMS-Opgave-Uge22-23/css/style.scss */
.clear {
  clear: both; }

/* line 13, ../../xampp/htdocs/cmsOpgave/CMS-Opgave-Uge22-23/css/style.scss */
.banner {
  background-image: url(../img/headeredit.jpg);
  height: 300px;
  position: relative; }
  /* line 17, ../../xampp/htdocs/cmsOpgave/CMS-Opgave-Uge22-23/css/style.scss */
  .banner h1 {
    position: absolute;
    z-index: 2;
    font-family: Blackadder ITC;
    font-size: 72px;
    background: -webkit-linear-gradient(left top, pink, #AC338E);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; }

/* line 28, ../../xampp/htdocs/cmsOpgave/CMS-Opgave-Uge22-23/css/style.scss */
.icon {
  text-align: center;
  margin-top: 10px; }

/* line 34, ../../xampp/htdocs/cmsOpgave/CMS-Opgave-Uge22-23/css/style.scss */
nav ul {
  margin: 5px 0 0 0;
  padding: 0; }

/* line 38, ../../xampp/htdocs/cmsOpgave/CMS-Opgave-Uge22-23/css/style.scss */
nav li {
  list-style: none;
  display: inline-block;
  padding: 0 30px;
  /* &:hover */ }

/* line 44, ../../xampp/htdocs/cmsOpgave/CMS-Opgave-Uge22-23/css/style.scss */
nav li:hover {
  background-color: wheat; }

/* line 47, ../../xampp/htdocs/cmsOpgave/CMS-Opgave-Uge22-23/css/style.scss */
nav a {
  text-decoration: none;
  font-size: 20px;
  color: black; }

/* line 52, ../../xampp/htdocs/cmsOpgave/CMS-Opgave-Uge22-23/css/style.scss */
nav a:hover {
  color: violet; }

/* line 61, ../../xampp/htdocs/cmsOpgave/CMS-Opgave-Uge22-23/css/style.scss */
main img {
  width: 100%; }

/* line 64, ../../xampp/htdocs/cmsOpgave/CMS-Opgave-Uge22-23/css/style.scss */
main p {
  font-size: 20px;
  margin-top: 20px; }

/* line 68, ../../xampp/htdocs/cmsOpgave/CMS-Opgave-Uge22-23/css/style.scss */
main .date {
  margin: 0 auto;
  max-width: 200px;
  background-color: wheat;
  height: auto;
  text-align: center;
  font-size: 15px;
  line-height: 30px;
  border-radius: 20px; }

/* line 80, ../../xampp/htdocs/cmsOpgave/CMS-Opgave-Uge22-23/css/style.scss */
aside {
  margin-left: 60px; }
  /* line 82, ../../xampp/htdocs/cmsOpgave/CMS-Opgave-Uge22-23/css/style.scss */
  aside .box {
    height: 300px;
    border: 2px solid blue;
    border-radius: 10px; }
  /* line 87, ../../xampp/htdocs/cmsOpgave/CMS-Opgave-Uge22-23/css/style.scss */
  aside .headBox {
    height: 75px;
    width: 100%;
    border-radius: 10px;
    background-color: lightblue;
    position: relative; }
    /* line 93, ../../xampp/htdocs/cmsOpgave/CMS-Opgave-Uge22-23/css/style.scss */
    aside .headBox p {
      position: absolute;
      top: 20%;
      left: 15%;
      color: blue;
      font-size: 25px; }
  /* line 102, ../../xampp/htdocs/cmsOpgave/CMS-Opgave-Uge22-23/css/style.scss */
  aside .loginBox .textFrame {
    margin-left: 10px; }
  /* line 105, ../../xampp/htdocs/cmsOpgave/CMS-Opgave-Uge22-23/css/style.scss */
  aside .loginBox input[type=text] {
    width: 75%;
    margin-left: 20px; }
  /* line 109, ../../xampp/htdocs/cmsOpgave/CMS-Opgave-Uge22-23/css/style.scss */
  aside .loginBox input[type=password] {
    width: 75%;
    margin-left: 20px; }
  /* line 113, ../../xampp/htdocs/cmsOpgave/CMS-Opgave-Uge22-23/css/style.scss */
  aside .loginBox button {
    align-content: center; }
  /* line 117, ../../xampp/htdocs/cmsOpgave/CMS-Opgave-Uge22-23/css/style.scss */
  aside h3 {
    margin-top: 40px;
    font-size: 30px;
    color: lightslategrey; }
  /* line 123, ../../xampp/htdocs/cmsOpgave/CMS-Opgave-Uge22-23/css/style.scss */
  aside .infobox p {
    padding-left: 10px; }

/*# sourceMappingURL=style.css.map */