/* line 1, CMS-Opgave-Uge22-23/css/style.scss */
html {
  /*background: url(../img/softsoftWebTile%20.jpg);*/ }

/* line 5, CMS-Opgave-Uge22-23/css/style.scss */
.container {
  background-color: white; }

/* line 9, CMS-Opgave-Uge22-23/css/style.scss */
.clear {
  clear: both; }

/* line 13, CMS-Opgave-Uge22-23/css/style.scss */
.banner {
  background-image: url(../img/headeredit.jpg);
  height: 300px;
  position: relative; }
  /* line 17, CMS-Opgave-Uge22-23/css/style.scss */
  .banner h1 {
    position: absolute;
    z-index: 2;
    font-family: Blackadder ITC;
    font-size: 72px;
    background: -webkit-linear-gradient(left top, pink, #AC338E);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; }

/* line 28, CMS-Opgave-Uge22-23/css/style.scss */
.icon {
  text-align: center;
  margin-top: 10px; }

/* line 34, CMS-Opgave-Uge22-23/css/style.scss */
nav ul {
  margin: 5px 0 0 0;
  padding: 0; }

/* line 38, CMS-Opgave-Uge22-23/css/style.scss */
nav li {
  list-style: none;
  display: inline-block;
  padding: 0 30px; }

/* line 43, CMS-Opgave-Uge22-23/css/style.scss */
nav li:hover {
  background-color: wheat; }

/* line 46, CMS-Opgave-Uge22-23/css/style.scss */
nav a {
  text-decoration: none;
  font-size: 20px;
  color: black; }

/* line 51, CMS-Opgave-Uge22-23/css/style.scss */
nav a:hover {
  color: violet; }

/* line 57, CMS-Opgave-Uge22-23/css/style.scss */
main img {
  width: 100%; }

/* line 60, CMS-Opgave-Uge22-23/css/style.scss */
main p {
  font-size: 20px; }

/* line 63, CMS-Opgave-Uge22-23/css/style.scss */
main .date {
  margin: 0 auto;
  max-width: 400px;
  background-color: wheat;
  height: auto; }
  /* line 68, CMS-Opgave-Uge22-23/css/style.scss */
  main .date p {
    text-align: center;
    font-size: 15px;
    line-height: 30px; }

/* line 76, CMS-Opgave-Uge22-23/css/style.scss */
aside {
  margin-left: 60px; }
  /* line 78, CMS-Opgave-Uge22-23/css/style.scss */
  aside .box {
    height: 300px;
    border: 2px solid blue;
    border-radius: 10px; }
  /* line 83, CMS-Opgave-Uge22-23/css/style.scss */
  aside .headBox {
    height: 75px;
    width: 100%;
    border-radius: 10px;
    background-color: lightblue;
    position: relative; }
    /* line 89, CMS-Opgave-Uge22-23/css/style.scss */
    aside .headBox p {
      position: absolute;
      top: 20%;
      left: 15%;
      color: blue;
      font-size: 25px; }
  /* line 98, CMS-Opgave-Uge22-23/css/style.scss */
  aside .loginBox .textFrame {
    margin-left: 10px; }
  /* line 101, CMS-Opgave-Uge22-23/css/style.scss */
  aside .loginBox input[type=text] {
    width: 75%;
    margin-left: 20px; }
  /* line 105, CMS-Opgave-Uge22-23/css/style.scss */
  aside .loginBox button {
    margin-left: 70px; }
  /* line 109, CMS-Opgave-Uge22-23/css/style.scss */
  aside h3 {
    margin-top: 40px;
    font-size: 30px;
    color: lightslategrey; }
  /* line 115, CMS-Opgave-Uge22-23/css/style.scss */
  aside .infobox p {
    padding-left: 10px; }

/*# sourceMappingURL=style.css.map */