html {
    /*background: url(../img/softsoftWebTile%20.jpg);*/
}

.container {
    background-color: white;
}

.clear {
    clear: both;
}

.banner {
    background-image: url(../img/headeredit.jpg);
    height: 300px;
    position: relative;
    h1 {
        position: absolute;
        z-index: 2;
        font-family: Blackadder ITC;
        font-size: 72px;
        background: -webkit-linear-gradient( left top, pink, #AC338E);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
}

.icon {
    text-align: center;
    margin-top: 10px;
}

nav {
    ul {
        margin: 5px 0 0 0;
        padding: 0;
    }
    li {
        list-style: none;
        display: inline-block;
        padding: 0 30px;
    }
    li:hover {
        background-color: wheat;
    }
    a {
        text-decoration: none;
        font-size: 20px;
        color: black;
    }
    a:hover {
        color: violet;
    }
}

main {
    form {
        .formGroup {}
    }
    img {
        width: 100%;
    }
    p {
        font-size: 20px;
        margin-top: 20px;
    }
    .date {
        margin: 0 auto;
        max-width: 200px;
        background-color: wheat;
        height: auto;
        text-align: center;
        font-size: 15px;
        line-height: 30px;
        border-radius: 20px;
    }
}

aside {
    margin-left: 60px;
    .box {
        height: 300px;
        border: 2px solid blue;
        border-radius: 10px;
    }
    .headBox {
        height: 75px;
        width: 100%;
        border-radius: 10px;
        background-color: lightblue;
        position: relative;
        p {
            position: absolute;
            top: 20%;
            left: 15%;
            color: blue;
            font-size: 25px;
        }
    }
    .loginBox {
        .textFrame {
            margin-left: 10px;
        }
        input[type=text] {
            width: 75%;
            margin-left: 20px;
        }
        input[type=password] {
            width: 75%;
            margin-left: 20px;
        }
        button {
            align-content: center;
        }
    }
    h3 {
        margin-top: 40px;
        font-size: 30px;
        color: lightslategrey
    }
    .infobox {
        p {
            padding-left: 10px;
        }
    }
}